<div class="container">
  <h1>Поиск фильмов</h1>
  <hr>
  <form (ngSubmit)="searchFilms(form)" #form="ngForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Название фильма" ngModel name="nameFilm">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Найти</button>
      </div>
    </div>
  </form>

  <h3 class="mb-3">Результат</h3>
  <div class="alert alert-primary" role="alert" *ngIf="flagFilm == ''">
    Вы еще не производили поиск филма.
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="flagFilm == 'no'">
    Такого фильма нету
  </div>
  <div class="row">
    <div class="col-12 mb-3" *ngIf="flagFilm == 'yes'">
      <div class="films border">
        <div class="films-item">
          <div class="img"><img src="{{ filmSearch.Poster }}" alt="" width="100"></div>
          <div class="info border-left">
            <div><b>Имя:</b> {{ filmSearch.Title }}</div>
            <div><b>Год:</b> {{ filmSearch.Year }}</div>
            <div><b>Жанр:</b> {{ filmSearch.Genre }}</div>
            <div><b>Актеры:</b> {{ filmSearch.Actors }}</div>
            <div><b>Описание:</b> {{ filmSearch.Plot }}</div>
          </div>
        </div>
        <div class="footer-films border-top">
          <button type="button" class="btn btn-success" (click)="addFilm()">Добавить</button>
        </div>
      </div>
    </div>
  </div>

  <h3 class="mb-3">Список фильмов</h3>
  <div class="alert alert-secondary" role="alert" *ngIf="flagFil == false">
    Нету фильмов в списке.
  </div>
  <div class="row" *ngIf="flagFil == true">
    <div class="col-12 mb-3" *ngFor="let fil of films; let idx = index">
      <div class="films border">
        <div class="films-item">
          <div class="img"><img src="{{ fil.Poster }}" alt="" width="100"></div>
          <div class="info border-left">
            <div><b>Имя:</b> {{ fil.Title }}</div>
            <div><b>Год:</b> {{ fil.Year }}</div>
            <div><b>Жанр:</b> {{ fil.Genre }}</div>
            <div><b>Актеры:</b> {{ fil.Actors }}</div>
            <div><b>Описание:</b> {{ fil.Plot }}</div>
          </div>
        </div>
        <div class="footer-films border-top">
          <button type="button" class="btn btn-primary">Подробней</button>
          <button type="button" class="btn btn-danger" (click)="delFilms(idx)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>
